.row {
    display: flex;
    flex-wrap:wrap;
    min-height: 300px;
    gap:20px;
    padding: 50px 30px;
  }

.left {
  background-color: var(--background);
  color: #000;
}

.right {
  background-color: var(--primary);
  color: var(--background);
}

@media (max-width:400px)
{
  .icon {
    max-width: 200px;
    height: auto;
  }
}