.form {
    margin: auto;
    width: 500px;
}

.submitButton
{
  background-color: var(--buttonColor);
  padding: 10px;
  border-radius: 5px;
  border-color: var(--buttonColor);
  border-style: solid;
  text-decoration: none;
  color: var(--color4);
  font-size: 1.2rem;
}

.submitButton:hover 
{
  background-color: var(--color4);
  color: var(--buttonColor);
  border: 3px solid var(--buttonColor);
}

.datenschutz
{
  color: var(--buttonColor);
  text-decoration: none;
  font-weight: bold;
}

.datenschutzerklärung {
  font-size: 1rem;
}


@media (max-width:480px)
{
  .form
  {
    width: 400px;
  }

  .datenschutzerklärung
  {
    font-size: 0.8rem;
  }
}